1.conexion y carga de datos

In [47]:
from sqlalchemy import create_engine
import pandas as pd

# Crea el engine con SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:1234@localhost/gym_system")

consulta = "SELECT * FROM tbb_usuarios"
df_mysql = pd.read_sql(consulta, engine)
df_mysql.head()

,ID,Nombre_Usuario,Persona_ID,Correo_Electronico,Contrasena,Numero_Telefonico_Movil,Estatus,Fecha_Registro,Fecha_Actualizacion
0,1,lemu,None,real@1,$2b$12$B4ggYkfyp5Md15ST52BWWeYR0lBIhMJuO7HCpqO...,None,Activo,2025-04-09 09:43:22,2025-04-09 09:43:22
1,2,pepe,None,pepe@1,$2b$12$UWb7Jozy7MCWZfoxlkxNe.K4nw.K1t0Fqtw6pUM...,None,Activo,2025-04-09 09:44:14,2025-04-09 09:44:14
2,3,juan,None,juan@real,$2b$12$4zDfJ5XF2euE6lDv1wA3H.j9ZcqJusng539lB51...,None,Activo,2025-04-10 08:49:01,2025-04-10 08:49:01
3,4,Marco Ramirez,None,marco@gmail.com,$2b$12$50v9SJ2vstdGKmWIxqzGa.esD/IsLaZHHoDxato...,None,Activo,2025-04-11 08:58:35,2025-04-11 08:58:35

2. Limpieza de Datos

In [52]:
# Verificar nulos
df_mysql.isnull().sum()

#  filas con nulos
df_mysql_limpio = df_mysql.fillna(value='N/A')

df_mysql_limpio.head()

,ID,Nombre_Usuario,Persona_ID,Correo_Electronico,Contrasena,Numero_Telefonico_Movil,Estatus,Fecha_Registro,Fecha_Actualizacion
0,1,lemu,N/A,real@1,$2b$12$B4ggYkfyp5Md15ST52BWWeYR0lBIhMJuO7HCpqO...,N/A,Activo,2025-04-09 09:43:22,2025-04-09 09:43:22
1,2,pepe,N/A,pepe@1,$2b$12$UWb7Jozy7MCWZfoxlkxNe.K4nw.K1t0Fqtw6pUM...,N/A,Activo,2025-04-09 09:44:14,2025-04-09 09:44:14
2,3,juan,N/A,juan@real,$2b$12$4zDfJ5XF2euE6lDv1wA3H.j9ZcqJusng539lB51...,N/A,Activo,2025-04-10 08:49:01,2025-04-10 08:49:01
3,4,Marco Ramirez,N/A,marco@gmail.com,$2b$12$50v9SJ2vstdGKmWIxqzGa.esD/IsLaZHHoDxato...,N/A,Activo,2025-04-11 08:58:35,2025-04-11 08:58:35

3. Transformación de Datos

In [53]:

# Convertir fechas a datetime
df_mysql_limpio['Fecha_Registro'] = pd.to_datetime(df_mysql_limpio['Fecha_Registro'])
df_mysql_limpio['Fecha_Actualizacion'] = pd.to_datetime(df_mysql_limpio['Fecha_Actualizacion'])

# Crear columna "antigüedad" en días desde el registro
df_mysql_limpio['antiguedad_dias'] = (pd.Timestamp.now() - df_mysql_limpio['Fecha_Registro']).dt.days

# Categorizar por antigüedad
bins = [0, 30, 180, 365, float('inf')]
etiquetas = ['<1 mes', '1-6 meses', '6-12 meses', '>1 año']
df_mysql_limpio['rango_antiguedad'] = pd.cut(df_mysql_limpio['antiguedad_dias'], bins=bins, labels=etiquetas)

df_mysql_limpio.head()

,ID,Nombre_Usuario,Persona_ID,Correo_Electronico,Contrasena,Numero_Telefonico_Movil,Estatus,Fecha_Registro,Fecha_Actualizacion,antiguedad_dias,rango_antiguedad
0,1,lemu,N/A,real@1,$2b$12$B4ggYkfyp5Md15ST52BWWeYR0lBIhMJuO7HCpqO...,N/A,Activo,2025-04-09 09:43:22,2025-04-09 09:43:22,75,1-6 meses
1,2,pepe,N/A,pepe@1,$2b$12$UWb7Jozy7MCWZfoxlkxNe.K4nw.K1t0Fqtw6pUM...,N/A,Activo,2025-04-09 09:44:14,2025-04-09 09:44:14,75,1-6 meses
2,3,juan,N/A,juan@real,$2b$12$4zDfJ5XF2euE6lDv1wA3H.j9ZcqJusng539lB51...,N/A,Activo,2025-04-10 08:49:01,2025-04-10 08:49:01,74,1-6 meses
3,4,Marco Ramirez,N/A,marco@gmail.com,$2b$12$50v9SJ2vstdGKmWIxqzGa.esD/IsLaZHHoDxato...,N/A,Activo,2025-04-11 08:58:35,2025-04-11 08:58:35,73,1-6 meses

4. Exportar a Tabla Temporal en MySQL

In [57]:
from sqlalchemy import create_engine, text
import pandas as pd
import datetime

# Crear motor SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:1234@localhost/gym_system")

# Crear conexión y ejecutar comandos SQL directamente
with engine.connect() as connection:
    # Crear tabla temporal
    connection.execute(text("""
        CREATE TEMPORARY TABLE usuarios_temporal (
            ID INT,
            Nombre_Usuario VARCHAR(100),
            Persona_ID VARCHAR(50),
            Correo_Electronico VARCHAR(100),
            Contrasena TEXT,
            Numero_Telefonico_Movil VARCHAR(20),
            Estatus VARCHAR(20),
            Fecha_Registro DATETIME,
            Fecha_Actualizacion DATETIME,
            antiguedad_dias INT,
            rango_antiguedad VARCHAR(20)
        );
    """))

    # Insertar datos desde el DataFrame
    for _, fila in df_mysql_limpio.iterrows():
        connection.execute(text("""
            INSERT INTO usuarios_temporal (
                ID, Nombre_Usuario, Persona_ID, Correo_Electronico, Contrasena,
                Numero_Telefonico_Movil, Estatus, Fecha_Registro, Fecha_Actualizacion,
                antiguedad_dias, rango_antiguedad
            ) VALUES (
                :ID, :Nombre_Usuario, :Persona_ID, :Correo_Electronico, :Contrasena,
                :Numero_Telefonico_Movil, :Estatus, :Fecha_Registro, :Fecha_Actualizacion,
                :antiguedad_dias, :rango_antiguedad
            );
        """), {
            "ID": fila["ID"],
            "Nombre_Usuario": fila["Nombre_Usuario"],
            "Persona_ID": fila["Persona_ID"],
            "Correo_Electronico": fila["Correo_Electronico"],
            "Contrasena": fila["Contrasena"],
            "Numero_Telefonico_Movil": fila["Numero_Telefonico_Movil"],
            "Estatus": fila["Estatus"],
            "Fecha_Registro": fila["Fecha_Registro"].to_pydatetime() if pd.notnull(fila["Fecha_Registro"]) else None,
            "Fecha_Actualizacion": fila["Fecha_Actualizacion"].to_pydatetime() if pd.notnull(fila["Fecha_Actualizacion"]) else None,
            "antiguedad_dias": int(fila["antiguedad_dias"]) if pd.notnull(fila["antiguedad_dias"]) else None,
            "rango_antiguedad": str(fila["rango_antiguedad"])
        })


# Cargar y mostrar la tabla temporal
consulta_temporal = "SELECT * FROM usuarios_temporal"
df_mysql_temporal = pd.read_sql(consulta_temporal, engine)
df_mysql_temporal.head()

,ID,Nombre_Usuario,Persona_ID,Correo_Electronico,Contrasena,Numero_Telefonico_Movil,Estatus,Fecha_Registro,Fecha_Actualizacion,antiguedad_dias,rango_antiguedad
0,1,lemu,N/A,real@1,$2b$12$B4ggYkfyp5Md15ST52BWWeYR0lBIhMJuO7HCpqO...,N/A,Activo,2025-04-09 09:43:22,2025-04-09 09:43:22,75,1-6 meses
1,2,pepe,N/A,pepe@1,$2b$12$UWb7Jozy7MCWZfoxlkxNe.K4nw.K1t0Fqtw6pUM...,N/A,Activo,2025-04-09 09:44:14,2025-04-09 09:44:14,75,1-6 meses
2,3,juan,N/A,juan@real,$2b$12$4zDfJ5XF2euE6lDv1wA3H.j9ZcqJusng539lB51...,N/A,Activo,2025-04-10 08:49:01,2025-04-10 08:49:01,74,1-6 meses
3,4,Marco Ramirez,N/A,marco@gmail.com,$2b$12$50v9SJ2vstdGKmWIxqzGa.esD/IsLaZHHoDxato...,N/A,Activo,2025-04-11 08:58:35,2025-04-11 08:58:35,73,1-6 meses

✅ Ejercicio 2: Carga de Datos desde una API
1. Importar datos de una API - GET

In [70]:
import requests
import pandas as pd

url = 'https://remoteok.com/api'
headers = {'User-Agent': 'Mozilla/5.0'}
respuesta = requests.get(url, headers=headers)
data_api = respuesta.json()

# Ignorar el primer elemento (es metadata)
df_api = pd.DataFrame(data_api[1:])
df_api.head()

,slug,id,epoch,date,company,company_logo,position,tags,description,location,salary_min,salary_max,apply_url,logo,url,verified,original
0,remote-senior-system-software-engineer-cloud-n...,1093434,1750608009,2025-06-22T16:00:09+00:00,2100 NVIDIA USA,,Senior System Software Engineer Cloud Networking,"[system, software, design, gaming, technical, ...",We are looking for a Senior System Software En...,"US, CA, Santa Clara",70000,130000,https://remoteOK.com/remote-jobs/remote-senior...,,https://remoteOK.com/remote-jobs/remote-senior...,NaN,NaN
1,remote-solutions-consultant-highspot-1093433,1093433,1750579279,2025-06-22T08:01:19+00:00,Highspot,https://remoteok.com/assets/img/jobs/df4ab8c9b...,Solutions Consultant,"[consultant, salesforce, infosec, technical, s...","<p><b style=""font-size: 18px"">About Highspot</...",United States,62500,115000,https://remoteOK.com/remote-jobs/remote-soluti...,https://remoteok.com/assets/img/jobs/df4ab8c9b...,https://remoteOK.com/remote-jobs/remote-soluti...,NaN,NaN
2,remote-print-multimedia-designer-tether-operat...,1093432,1750579272,2025-06-22T08:01:12+00:00,Tether Operations Limited,https://remoteok.com/assets/img/jobs/720d2395c...,Print & Multimedia Designer,"[design, cryptocurrency, bitcoin, designer, su...",<p><strong><em>Join Tether and Shape the Futur...,,80000,120000,https://remoteOK.com/remote-jobs/remote-print-...,https://remoteok.com/assets/img/jobs/720d2395c...,https://remoteOK.com/remote-jobs/remote-print-...,NaN,NaN
3,remote-senior-regulatory-specialist-deephealth...,1093431,1750579264,2025-06-22T08:01:04+00:00,DeepHealth,,Senior Regulatory Specialist,"[design, system, technical, support, software,...",<p><strong>Company</strong><br /></p><p><span ...,,60000,130000,https://remoteOK.com/remote-jobs/remote-senior...,,https://remoteOK.com/remote-jobs/remote-senior...,True,NaN
4,remote-grants-auditor-hybrid-with-travel-ibili...,1093430,1750550501,2025-06-22T00:01:41+00:00,Ibility,https://remoteok.com/assets/img/jobs/ba190d7c4...,Grants Auditor Hybrid with Travel,"[travel, design, support, testing, accounting,...","<p><span style=""font-size: 14.6667px;"">Founded...",Washington DC,80000,120000,https://remoteOK.com/remote-jobs/remote-grants...,https://remoteok.com/assets/img/jobs/ba190d7c4...,https://remoteOK.com/remote-jobs/remote-grants...,NaN,NaN

 2. Limpiar datos

In [71]:
# Paso 2.1: Seleccionar columnas relevantes
df_api = df_api[['company', 'position', 'location', 'salary_min', 'salary_max', 'tags']]

# Paso 2.2: Eliminar filas con salario mínimo o máximo nulo
df_api_limpio = df_api.dropna(subset=['salary_min', 'salary_max'])

#Verificar limpieza
df_api_limpio.head()

,company,position,location,salary_min,salary_max,tags
0,2100 NVIDIA USA,Senior System Software Engineer Cloud Networking,"US, CA, Santa Clara",70000,130000,"[system, software, design, gaming, technical, ..."
1,Highspot,Solutions Consultant,United States,62500,115000,"[consultant, salesforce, infosec, technical, s..."
2,Tether Operations Limited,Print & Multimedia Designer,,80000,120000,"[design, cryptocurrency, bitcoin, designer, su..."
3,DeepHealth,Senior Regulatory Specialist,,60000,130000,"[design, system, technical, support, software,..."
4,Ibility,Grants Auditor Hybrid with Travel,Washington DC,80000,120000,"[travel, design, support, testing, accounting,..."

3.transformar datos

In [72]:
# Paso 3.1: Crear columna con salario promedio
df_api_limpio['salario_promedio'] = (df_api_limpio['salary_min'] + df_api_limpio['salary_max']) / 2

# Paso 3.2: Categorizar el salario promedio en rangos
bins = [0, 100000, 150000, float('inf')]
etiquetas = ['0 - 100K', '100K - 150K', 'Más de 150K']
df_api_limpio['rango_salarial'] = pd.cut(df_api_limpio['salario_promedio'], bins=bins, labels=etiquetas)

# Verificamos
df_api_limpio.head()

,company,position,location,salary_min,salary_max,tags,salario_promedio,rango_salarial
0,2100 NVIDIA USA,Senior System Software Engineer Cloud Networking,"US, CA, Santa Clara",70000,130000,"[system, software, design, gaming, technical, ...",100000.0,0 - 100K
1,Highspot,Solutions Consultant,United States,62500,115000,"[consultant, salesforce, infosec, technical, s...",88750.0,0 - 100K
2,Tether Operations Limited,Print & Multimedia Designer,,80000,120000,"[design, cryptocurrency, bitcoin, designer, su...",100000.0,0 - 100K
3,DeepHealth,Senior Regulatory Specialist,,60000,130000,"[design, system, technical, support, software,...",95000.0,0 - 100K
4,Ibility,Grants Auditor Hybrid with Travel,Washington DC,80000,120000,"[travel, design, support, testing, accounting,...",100000.0,0 - 100K

In [ ]:
4.exportar